body {
  font-family: "Inter", sans-serif;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: 100;
  max-width: 1200px;
  margin: 20px auto;
}

h1 {
  /*font-family: "DM Serif Display", serif;*/
  font-size: 90px;
  font-weight: 100;
  text-align: center;
  margin-top: 20px;
}

p.artistbio {
  text-align: center;
}

iframe {
  width: 1000px;
}

h2 {
  /*font-family: "DM Serif Display", serif;*/
  font-size: 48px;
  font-weight: 300;
}

h4.listen {
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 300;
  padding: 5px;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

small {
  margin: 40px 0 40px 0;
}

p.play {
  font-size: 72px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.listenon {
  margin: 40px 0 40px;
}

.album {
  margin: 40px 0 40px;
}

@media (max-width: 770px) {
  h1 {
    font-size: 60px;
  }

  .links a {
    font-size: 18px;
  }
}
